.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 80px;
   z-index: 11;

   &__wrapper {
      background-color: $white;
   }

   &__body {
      // background-color: $white;
   }

   &__row {
      height: 80px;
      display: flex;
      align-items: center;
      gap: 32px;
   }

   &__logo {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 171px;
      height: 48px;
   }

   &__list {
      display: flex;
      align-items: center;
      gap: 16px;
      flex: 1 1 auto;
   }

   &__link {
      white-space: nowrap;
      position: relative;

      &::after {
         content: "";
         display: block;
         width: 100%;
         height: 1px;
         position: absolute;
         bottom: 0;
         left: 0;
         background-color: $blackPrimary;
         transform: scale(0);
         transition: 0.3s;
      }

      &:hover {
         &::after {
            transform: scale(1);
         }
      }
   }

   &__actions {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   &__action {
      display: flex;
      align-items: center;
      gap: 4px;
   }

   &__burger {
      display: none;
   }

   @media(max-width: 1440px) {
      &__row {
         gap: calc(16px + 16 * ((100vw - 1200px) / (1440 - 1200)));
      }

      &__link {
         font-size: calc(14px + 2 * ((100vw - 1200px) / (1440 - 1200)));
      }
   }

   @media(max-width: 1200px) {
      &__row {
         gap: 16px;
      }

      &__list {
         gap: calc(8px + 8 * ((100vw - 992px) / (1200 - 992)));
      }

      &__link {
         font-size: calc(12px + 3 * ((100vw - 992px) / (1200 - 992)));
      }

      &__actions {
         gap: calc(8px + 8 * ((100vw - 992px) / (1200 - 992)));
      }
   }

   @media(max-width: 992px) {
      height: 72px;

      &__actions {
         gap: 12px;
      }

      &__row {
         height: 72px;
         justify-content: space-between;
      }

      &__list {
         display: none;
      }

      &__burger {
         display: block;
         flex: 0 0 48px;
         width: 48px;
         height: 48px;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: $brownQuart;
         position: relative;
         transition: 0.3s;

         span {
            display: block;
            width: 14px;
            height: 2px;
            background-color: $blackPrimary;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            border-radius: 5px;
            transition: 0.3s;
         }

         &::before,
         &::after {
            content: "";
            display: block;
            display: block;
            width: 14px;
            height: 2px;
            background-color: $blackPrimary;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 5px;
            transition: 0.3s;
         }

         &::before {
            top: 18px;
         }

         &::after {
            bottom: 18px;
         }
      }
   }

   @media(max-width: 650px) {
      height: 62px;

      &__row {
         height: 62px;
      }

      &__logo {
         width: calc(150px + 20 * ((100vw - 390px) / (650 - 390)));
         height: calc(42px + 7 * ((100vw - 390px) / (650 - 390)));
      }

      &__burger {
         // width: calc(32px + 16 * ((100vw - 390px) / (650 - 390)));
         // height: calc(32px + 16 * ((100vw - 390px) / (650 - 390)));
         // flex: 0 0 calc(32px + 16 * ((100vw - 390px) / (650 - 390)));

         span,
         &::before,
         &::after {
            // width: calc(11px + 3 * ((100vw - 390px) / (650 - 390)));
            width: 11px;
         }

         &::before {
            // top: calc(11px + 7 * ((100vw - 390px) / (650 - 390)));
            // top: 11px;
            top: 35%;
         }

         &::after {
            // bottom: calc(11px + 7 * ((100vw - 390px) / (650 - 390)));
            // bottom: 11px;
            bottom: 35%;
         }
      }
   }

   @media(max-width: 550px) {
      &__burger {

         span,
         &::before,
         &::after {
            height: 1px;
         }
      }
   }

   @media(max-width: 450px) {
      &__burger {
         width: 32px;
         height: 32px;
         flex: 0 0 32px;

         &::before {
            top: 11px;
         }

         &::after {
            bottom: 11px;
         }

         span {
            height: 1px;
            width: 11px;
         }

         &::before,
         &::after {
            height: 1px;
            width: 11px;
         }
      }
   }

   @media(max-width: 390px) {
      &__logo {
         width: calc(116px + 34 * ((100vw - 320px) / (390 - 320)));
         height: unset;
      }

   }
}

.header-action {

   &__icon {
      flex: 0 0 48px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $brownQuart;
      transition: 0.3s;

      svg {
         width: 20px;
         height: 20px;
      }
   }

   &:hover {
      .header-action__icon {
         background-color: $brownTert;
      }
   }

   &__label {
      white-space: nowrap;
   }

   @media(max-width: 1200px) {
      &__icon {
         flex: 0 0 calc(32px + 16 * ((100vw - 992px) / (1200 - 992)));
         width: calc(32px + 16 * ((100vw - 992px) / (1200 - 992)));
         height: calc(32px + 16 * ((100vw - 992px) / (1200 - 992)));

         svg {
            width: calc(16px + 4 * ((100vw - 992px) / (1200 - 992)));
            height: calc(16px + 4 * ((100vw - 992px) / (1200 - 992)));
         }
      }

      &__label {
         font-size: calc(13px + 3 * ((100vw - 992px) / (1200 - 992)));
      }
   }

   @media(max-width: 992px) {
      &__icon {
         flex: 0 0 48px;
         width: 48px;
         height: 48px;

         svg {
            width: 20px;
            height: 20px;
         }
      }

      &__label {
         display: none;
      }
   }

   @media(max-width: 650px) {
      // &__icon {
      //    width: calc(32px + 16 * ((100vw - 390px) / (650 - 390)));
      //    height: calc(32px + 16 * ((100vw - 390px) / (650 - 390)));
      //    flex: 0 0 calc(32px + 16 * ((100vw - 390px) / (650 - 390)));

      //    svg {
      //       height: calc(13px + 7 * ((100vw - 390px) / (650 - 390)));
      //       width: calc(13px + 7 * ((100vw - 390px) / (650 - 390)));
      //    }
      // }
   }

   @media(max-width: 450px) {
      &__icon {
         width: 32px;
         height: 32px;
         flex: 0 0 32px;

         svg {
            height: 13px;
            width: 13px;
         }
      }
   }
}

.header__burger {

   &.active {
      background-color: $brownPrimary;

      span {
         opacity: 0;
      }

      &::before,
      &::after {
         background-color: $white;
      }

      &::before {
         transform: translateX(-25%) rotate(45deg) translateY(6px);
      }

      &::after {
         transform: rotate(-45deg) translate(-10%, -9px);
      }

      @media(max-width: 650px) {
         &::before {
            transform: translateX(1%) rotate(45deg) translateY(7px);
         }

         &::after {
            transform: rotate(-45deg) translate(16%, -8px);
         }
      }

      @media(max-width: 550px) {
         &::after {
            transform: rotate(-45deg) translate(20%, -9px);
         }
      }

      @media(max-width: 450px) {
         &::before {
            transform: rotate(45deg) translate(-21%, 3px);
            transform-origin: left;
         }

         &::after {
            transform: rotate(-45deg) translate(-18%, -3px);
            transform-origin: left;
         }
      }
   }
}

.header-menu {
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: calc(100dvh - 72px);
   transform: translateY(-100%);
   z-index: -1;
   transition: 0.3s;

   &.active {
      top: 100%;
      transform: translateY(0);
   }

   &__wrapper {
      background-color: $white;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 32px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 56px;
      gap: 32px;
      overflow-y: auto;
   }

   &__list {
      flex: 1;

      li {
         &:first-child {
            .header-menu__link {
               padding-top: 0;
            }
         }

         &:last-child {
            .header-menu__link {
               padding-bottom: 0;
               border: 0;
            }
         }
      }
   }

   &__link {
      display: flex;
      padding: 8px 4px;
      border-bottom: 1px solid $brownQuart;
   }

   &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__label {}

   &__phone {
      color: $brownPrimary;
      font-size: 16px;
      margin-top: 16px;
      margin-bottom: 32px;
   }

   &__social {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 72px;
   }

   &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      flex: 0 0 48px;
      border-radius: 50%;
      background-color: $brownTert;
   }

   &__copy {
      color: $grayPrimary;
      font-size: 12px;
      line-height: 100%;
   }

   @media(max-width: 992px) {
      display: block;
   }

   @media(max-width: 650px) {
      height: calc(100dvh - 62px);

      &__wrapper {
         padding-top: 24px;
         padding-left: 12px;
         padding-right: 12px;
         padding-bottom: 20px;
      }

      &__link {
         font-size: 16px;
      }

      &__social {
         margin-bottom: 48px;
      }

      &__label {
         font-size: 12px;
      }
   }
}