.hero {
   margin-bottom: 16px;

   &__wrapper {
      background-color: $brandYellow;
      border-radius: 8px;
      padding: 32px;
   }

   @media(max-width: 992px) {
      &__wrapper {
         padding: 24px;
      }
   }

   @media(max-width: 650px) {
      padding-top: 2px;
      margin-bottom: 12px;

      &__wrapper {
         padding: 16px 12px;
      }
   }
}

.hero-swiper {

   &__wrapper {}

   &__slide {}

   &__pagination {
      bottom: 32px;
      left: 32px;

      .current {
         color: $blackSecondary;
      }

      .total {
         color: $blackTert;
      }

      @media(max-width: 650px) {
         left: 12px;
         bottom: 16px;
         text-align: left;

         .current {
            font-size: 12px;
         }

         .total {
            font-size: 12px;
         }
      }
   }
}

.hero-slide {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 32px;

   &__image {
      max-height: 424px;
      border-radius: 8px;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      gap: 45px;
   }

   &__header {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: start;
   }

   &__text {
      display: flex;
      flex-direction: column;
      gap: 14px;
   }

   &__title {}

   &__subtitle {
      max-width: 257px;
   }

   &__icon {}

   &__footer {
      display: flex;
      justify-content: end;
   }

   &__circle {
      width: 271px;
      height: 271px;
      flex: 0 0 271px;
      border-radius: 50%;
      overflow: hidden;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   @media(max-width: 1200px) {
      &__circle {
         width: calc(144px + 127 * ((100vw - 992px) / (1200 - 992)));
         height: calc(144px + 127 * ((100vw - 992px) / (1200 - 992)));
         flex: 0 0 calc(144px + 127 * ((100vw - 992px) / (1200 - 992)));
      }
   }

   @media(max-width: 992px) {

      &__title {
         font-size: 25px;
      }

      &__subtitle {
         font-size: 10px;
      }

      &__icon {
         svg {
            width: calc(24px + 24 * ((100vw - 768px) / (992 - 768)));
            height: calc(24px + 24 * ((100vw - 768px) / (992 - 768)));
         }
      }

      &__text {
         gap: 8px;
      }

      &__circle {
         width: 144px;
         height: 144px;
         flex: 0 0 144px;
      }
   }

   @media(max-width: 768px) {
      gap: 22px;

      &__content {
         gap: 20px;
      }

      &__circle {
         width: 96px;
         height: 96px;
         flex: 0 0 96px;
      }

      &__icon {
         svg {
            width: 24px;
            height: 24px;
         }
      }
   }

   @media(max-width: 650px) {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__content {
         gap: 4px;
      }

      &__subtitle {
         font-size: 14px;
      }
   }
}